#nav ul li, .nav_right ul li{    
    
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;                   
    font-size: 14px;
    
}
#nav{
    background-color: #097FAD;  
    z-index: 1000;
    position: absolute;
    color: #fff;
    width: 100%;
    left: 0px;
    height: 50px;
    top: 0px;    
    box-shadow: 2px 1px 4px 2px rgba(0,0,0,0.75);
     transition: none .0s ease-in-out;
}

.nav_left >ul li:hover{
    opacity: 0.8;

}
.nav_left ul li a{
    text-decoration: none;
    color: white;
}

.nav_right{    
    z-index: 1001;
    position: absolute;         
    right: 0px;
    top: 0px;    
}
.nav_right ul li a{    
    
    
    
    margin-top: -3px;    
}


body{
    background-color: #fff;

}
#nav:before{
        cursor: pointer;
        content: "";
        background: url(../../imagens/icone4.fw.png);        
        margin-top: 40px;
        width: 320px;
        height: 200px;
        display: inline-block;
        float: left;
        
}

.nav_left
{
	margin-top:0px
}

.nav_left ul
{
	list-style:none;
	position:relative;
	float:left;	
	
}

.nav_left ul a
{
	display:block;
	color:black;
	text-decoration:none;	
	font-size:12px;
	line-height:32px;	
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

.nav_left ul li
{
	position:relative;    
	float:left;	
    
	
}

.nav_left ul li.current-menu-item
{
	background:#097FAD
}

.nav_left ul li:hover
{
	background:#097FAD
}

.nav_left ul ul
{
	display:none;
	position:absolute;    
	top:100%;
	left:0;
	background:#097FAD;
	padding:5px;
}

.nav_left ul ul li
{
	float:none;
	width:100px;    
}

.nav_left ul ul a
{
	line-height:90%;
	padding:10px 15px
}

.nav_left ul ul ul
{
	top:0;
	left:100%
}

.nav_left ul li:hover > ul
{
	display:block
}

.nav_right ul li a{
      color: #097FAD;
        margin-bottom: -4px;
    

}
.nav_right ~ul li:hover{
     
}


.nav_right ul li{
    margin-top: -8px;
    padding: 5px;
    border-radius: 10px;
    background: white;        
}
.nav_right ul li:hover{
    opacity: 0.5;
    color: #097FAD;
     margin-top: -8px;
    padding: 5px;
    border-radius: 10px;
    background: white;      
    
}


article{
        position: relative;
        margin: 4% auto;
        margin-left: 30%;
        float: left;
        

}
    
#resumo{
        margin-top: 20%;        
        background-image: url(../../imagens/resumo_titulo.jpg);
        width: 130px;
        height: 38px;

}
#relatorio{
        margin-top: 20%;        
        background-image: url(../../imagens/relatorios.png);
        width: 260px;
        height: 249px;
        
}
#restrita{
        margin-top: 20%;        
        background-image: url(../../imagens/travel.png);
        width: 280px;
        height: 258px;
        
}

#form_init input{
    display: inline;
    border: 2px solid;

}
#relatorio select, #restrita select{
        
   border-radius: 4px;    
    background:  #097FAD;    
   margin-left: 300px;
    border: 0px;
    color: white;
    opacity: 0.8;
    padding: 7px;
    
}  



#relatorio p, #restrita p{
   margin-top: -30px;        
   margin-left: 300px;
    width: 400px;
    font-size: 28px;
    opacity: 0.6;
}

#relatorio input, #restrita input{
    margin-top: 20px;
    margin-left: 300px;

}

#container{
    width: 900px;

}
#relatorio [type=submit], #restrita [type=submit]{
    margin-top: 80px;
    display: block;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    background: #3F8D55;
    cursor: pointer;      
    
}

#restrita [type=submit][id=cadastrarViagem]{
    margin-left: 420px;
    margin-top: -41px;
    background:  #5A7FBD;    

}
#restrita [type=submit][id=listarResumo]{
    margin-left: 550px;
    margin-top: -41px;
    background:  #DC8131;    

}

#container p{
    font-size: 24px;
    opacity: 0.6;
    margin-top: 5px;

}

#conteudo_pagina{
    position: relative;
    width: 900px;
    
        
}

#conteudo_resumo{
    
    
    display: table;

}

#conteudo_total{
    width: 750px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EDEEEE;
}


#container form{
    top: 300px;
	width: 80%;
    
}

#menu_lateral{
        position: absolute;    
        display: block;
        float: left;
        margin-top: 15.5%;
        border: 0px;
        width: 200px;
        padding: 25px; 
       transition: all .615s ease-in-out;
}
#menu_lateral a{
        padding: 20px;        
}
#menu_lateral a:hover{
    opacity: 0.7;
}

.menu_lat{
    padding: 10px;
    margin-left: 45px;
    border-top: 1px solid;

}

#listaViagens{
	width: 100%;
	display: none;
}

#listaViagens .remove-icon{
	height: 20px;
}

#listaViagens .edit-icon{
	height: 20px;
}

#listaCategoria{
	width: 100%;
	display: none;
}

#listaCategoria .remove-icon{
	height: 20px;
}

#listaCategoria .edit-icon{
	height: 20px;
}

#form_viagem .input{
        
        border-radius: 10px;


}
