#black_overlay
{
	background-color: black;
	display: none;
	filter: alpha(opacity=80);
	height: 100%;
	left: 0%;
	moz-opacity: 0.8;
	opacity: 0.8;
	position: absolute;
	top: 0%;
	width: 100%;
	z-index: 1004;
}
#white_content, #frame_viagem, #frame_categoria, #frame_alterar_categoria, #frame_alterar_viagem, #frame_alterar_despesa
{
	background-color: white;
	border: 16px solid #097FAD;
	display: none;
	height: 50%;
	left: 25%;
	overflow: auto;
	padding: 16px;
	position: absolute;
	top: 25%;
	width: 50%;
	z-index: 1005;
}
.form_viagem
{
	display: inline;
	margin: 40px 30% auto;
	position: absolute;
	width: 150px;
}
.fechar
{
	position: absolute;
	right: 0px;
	top: 0px;
}
.form_categoria
{
	display: inline;
	margin: 40px 30% auto;
	position: absolute;
	width: 150px;
}
.form_alterar_viagem
{
	display: inline;
	margin: 40px 30% auto;
	position: absolute;
	width: 150px;
}
.form_alterar_despesa
{
	display: inline;
	margin: 40px 30% auto;
	position: absolute;
	width: 150px;
}
.form_alterar_categoria
{
	display: inline;
	margin: 40px 30% auto;
	position: absolute;
	width: 150px;
}